<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="assets/css/master.css">
    <title>Vue Boolzap</title>
</head>

<body>
    <div class="bg-green-bar"></div>
    <div class="bg-gray"></div>
    <div id="root" class="flex">

        <!-- asidebar  left-->
        <aside class="left flex column">

            <!-- /* navbar left */ -->
            <nav>
                <div class="avatar flex a-center h-100">
                    <img class="user" src="assets/img/avatar_io.jpg" alt="user avatar">
                    <span class="bold">Simone</span>
                </div>
                <div class="settings ">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </nav>

            <!-- /* notification left */ -->
            <div class="notification flex a-center">
                <i class="fas fa-bell-slash"></i>
                <div class="settings-notification flex column">
                    <span class="bold t-size-13">Ricevi notifiche di nuovi messaggi</span>
                    <span class="t-size-13 t-light-gray underline">Attiva le notifiche desktop</span>
                </div>
            </div>

            <!-- /* search bar left */ -->
            <div class="search flex a-center">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Cerca">
            </div>

            <!-- /* contact left */ -->
            <div class="contact-container">
                <ul>
                    <li :class="{'bg-light-gray': i == activeIndex}" class="contact flex a-center" v-for="(contact,i) in contacts" @click="setActiveContact(i)">
                        <img :src='"assets/img/avatar"+contact.avatar+".jpg"' alt="">
                        <div class="info-contact flex column">
                            <span class="t-size-16 bold">{{ contact.name }}</span>
                            <span class="t-size-10 t-light-gray">{{ lastMessage(i).text }}</span>
                        </div>
                        <span class="t-size-10 t-light-gray contact-access flex">{{ lastMessage(i).date }}</span>
                    </li>
                </ul>
            </div>
        </aside>

        <!-- message area right-->
        <div class=" message-area ">
            <nav class="flex j-between a-center">
                <div class="avatar flex a-center h-100">
                    <img class="user " :src="'assets/img/avatar' + contacts[activeIndex].avatar + '.jpg' " alt="user avatar ">
                    <div class="info-contact flex j-center column">
                        <span class="bold ">{{ contacts[activeIndex].name }}</span>
                        <span class="t-size-13 t-light-gray ">pippo</span>
                    </div>
                </div>
                <div class="settings ">
                    <i class="fas fa-search "></i>
                    <i class="fas fa-paperclip "></i>
                    <i class="fas fa-ellipsis-v "></i>
                </div>
            </nav>

            <!-- car message -->
            <div class="message">
                <ul>
                    <li v-for="(message, index) in activeContactMessages" :key="index" class="row-message flex">
                        <div :class='{"card-sent-message" : message.status == "sent",
                            "card-recived-message" : message.status == "received"}'>
                            <span class="t-size-13 message-text">{{ message.text }}</span>
                            <span class="hour-message t-size-10">{{ message.date }}</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="write-message flex a-center j-between">
                <i class="far fa-smile "></i>
                <input v-model="inputTxt" @keyup.enter="sentMessage" type="text " placeholder="Scrivi un messaggio ">
                <i class="fas fa-microphone "></i>

            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue "></script>
    <script src="assets/js/dati.js "></script>
    <script src="assets/js/main.js "></script>
</body>

</html>